div.x-grid3-row img.x-action-col-icon {
	display:inline-block;
}

div.x-grid3-row img.t3-icon-extensions-workspaces {
	visibility: visible;
}

.x-grid3-viewport .x-grid3-body .x-grid-group-hd {
	padding-top: 0;

	background-color: #dedede;
	background-image: linear-gradient(left , rgb(222,222,222) 9%, rgb(224,224,224) 70%, rgb(236,236,236) 90%);
	background-image: -o-linear-gradient(left , rgb(222,222,222) 9%, rgb(224,224,224) 70%, rgb(236,236,236) 90%);
	background-image: -moz-linear-gradient(left , rgb(222,222,222) 9%, rgb(224,224,224) 70%, rgb(236,236,236) 90%);
	background-image: -webkit-linear-gradient(left , rgb(222,222,222) 9%, rgb(224,224,224) 70%, rgb(236,236,236) 90%);
	background-image: -ms-linear-gradient(left , rgb(222,222,222) 9%, rgb(224,224,224) 70%, rgb(236,236,236) 90%);
	background-repeat: repeat-y;
}


.x-grid3-viewport .x-grid3-body .x-grid-group-hd .x-grid-group-title,
.x-grid3-viewport .x-grid3-body .x-grid-group-body .x-grid3-row {

}

.x-grid3-viewport .x-grid3-body .x-grid-group-body .x-grid3-row {

}
